---
import Card from '../components/Card.astro';
import type Event from '../lib/events';
import fetchApi from '../lib/strapi';

const events = await fetchApi<Event[]>({
    endpoint: 'events?populate=coverImage',
    wrappedByKey: 'data',
})

---

<main>
    <h1>Events</h1>
    <ul>
        {
            events.map((event: Event) => (
                <Card title= {event.title} body={event.descritpion}></Card>
                <img src={`${import.meta.env.STRAPI_URL}${event.coverImage.url}`} />
            ))
        }
    </ul>
</main>