---
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---



<BaseLayout title={title}>
    <header class="h-24 bg-pink-500 p-5 flex flex-row items-center gap-5">
        <img src="/logo.png" alt="realfagskjelleren logo" class="h-full">
        <h1 class="text-4xl">Realfagskjelleren</h1>
    </header>

    <slot />

    <footer>

    </footer>
</BaseLayout>
